<template>
    <nav class="bg-black text-white font-bold ">
        <div class="mx-auto px-2 sm:px-6 lg:px-5">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">

            </div>

            <div class="flex flex-1 sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
                <p>{{title}}</p>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0" v-for="i in navLink" :key="i.title">
              <div class="relative ml-3">
                <a :href="i.src">{{i.title}}</a>
              </div>

            </div>
          </div>
        </div>

        <div class="sm:hidden" id="mobile-menu">
        </div>
      </nav>
</template>

<script>
export default {
    data(){
        return {
            title: 'ChenGuang',
            navLink: [
                {
                    title: 'Home',
                    src: '/'
                },
                {
                    title: 'About',
                    src: '/about'
                }
            ]
        }
    }
}
</script>
