<template>
    <div class="mt-4 border-2 border-black p-10 rounded-lg text-black max-w-md">

        <diV class="flex flex-wrap">
                <div className="sm:border-0 pb-2 mb-2 sm:pb-0 sm:mb-0 flex-auto">
                    <div class="items-start">
                      <p className="text-2xl font-bold left-5 text-center">{{title}}</p>    
                        <img className=" h-24 w-24 border-2 rounded-full  border-black ml-auto mr-auto mt-4 sm:shrink-0" src="https://scontent.cdninstagram.com/v/t51.2885-19/400387111_1156700202400543_2868448171020497060_n.jpg?stp=dst-jpg_s150x150&_nc_ht=scontent.cdninstagram.com&_nc_cat=107&_nc_ohc=TYI2eRQTGzkQ7kNvgEQh1JJ&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfCA6NdcMyTfmRDCc40stEjleNHn0pBCBk5AA0zQx2WOCQ&oe=6642AF90&_nc_sid=10d13b"/>     
                    </div>
                </div>

                <div class="flex-auto">
                    <p className="font-bold text-lg">{{theme}}</p>                   
                    <ul>
                        <li>· RC Studio創意總監</li>
                        <li>· Premiere 4年經驗</li>
                        <li>· 14歲存到人生第一桶金</li>
                        <li>· 15歲創建屬於自己的團隊</li>
                        <li>· 15加入區塊鏈世界</li>
                    </ul>
                </div>

                <div class="flex-auto">
                    <p className="font-bold text-lg">{{theme2}}</p>                   
                    <ul>
                        <li>· 剪輯後製</li>
                        <li>· 街頭攝影</li>
                        <li>· 整合行銷</li>
                        <li>· 健身</li>
                    </ul>
                </div>
                
                <div class="flex-auto">
                    <p className="font-bold text-lg">{{theme3}}</p>                   
                    <ul>
                        <li>· 名字：朱光昱</li>
                        <li>· 感情：單身</li>
                        <li>· 職業：剪輯師</li>
                        <li>· 地區：台中</li>
                    </ul>
                </div>
            
        </div>
        <div class="mt-10">
            <p class="font-bold text-xl">自我介紹：</p>
            <p class="text-base mt-4">{{Introduction}}</p>
        </div>
    </div>
</template>


<script>
export default {

    props: {
        title: {
            type: String,
            required:true
        },

        theme: {
            type: String,
            required:true
        },

        theme2: {
            type: String,
            required:true
        },

        theme3: {
            type: String,
            required:true
        },

        Introduction: {
            type: String,
            required:true
        }
    },  
}
</script>
